<h2>What is RoomInfo?</h2>
<p>RoomInfo is an energy management platform. It gives you secure access to your energy usage information online.</p>
<p>
  RoomInfo is a student gateway to energy management, including:
  </ul>
    <li>Keeping track of your rooms</li>
    <li>Searching weather for cities</li>
    <li>Uploading images</li>
  </ul>
</p>


<h2>How do I access RoomInfo?</h2>
<p>To access RoomInfo, log in by clicking the appropriate link below:</p>
<ul>
  <li><a href="/login">Log in with my PennKey and password</a></li>
  <li><a href="/users/new">Sign up with new PennKey or password</a></li>
</ul>

<h2>When is RoomInfo available?</h2>
<p>RoomInfo is normally available 24/7 except to allow for system maintenance between 3:00 AM and 6:00 AM on Mondays. In addition, some functions within RoomInfo may be unavailable for brief periods during the evenings while we update student data.</p>

<hr></hr>
<footer>
Made with <span style="color:rgba(246, 124, 131, 1)">♥</span> in Philly.
</footer>