/*
 *
 *
 *= require_tree .
 *= require_self
 */

 $theme-colors: (
  "primary": #016e1c,
  "secondary": #956d00
);


@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import "bootstrap";
@import "font-awesome";

/* 
 * Custom Styles
 */

.navbar-brand {
  font-family: 'Gentium Basic', serif;
}

.nav-item {
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #01256e;
  font-weight: 500;
  line-height: 1.25;
  font-family: 'Gentium Basic', serif;
}

h2 {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
  margin: 2em 0 .67em;
  font-family: 'Gentium Basic', serif;
}

h3 {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
  font-family: 'Gentium Basic', serif;
}

p {
  font-size: 18px;
  color: #44464b;
  font-family: "Open Sans",sans-serif;
  line-height: 1.5;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

li {
  line-height: 1.5;
  font-family: "Open Sans",sans-serif;
}

footer {
  margin: 20px;
  text-align: center;
  color: #cfd0d2;
}
